header {
    height: 200px;
    background-color: rgb(115, 115, 115);
}

main {
    background-color: rgb(101, 101, 101);
    height: 900px;
}
aside {
    background-color: rgb(171, 171, 171);
    height: 900px;
}

footer {    
    height: auto;  
    background-color: rgb(112, 112, 112);
} 
main section {
    height:50px;
    background-color: aliceblue;
  
}

aside section{
    height: 50px;

}

main section:nth-child(1) {
    background-color: rgb(92, 92, 92);
}

main section:nth-child(1) {
    background-color: rgb(59, 59, 59);
    height: 400px;
}




main section:nth-child(2) {
    background-color: rgb(59, 59, 59);
    height: 400px;
    
}
.card-body {
    margin-left: 100px;
}
main section:nth-child(3) {
    background-color: rgb(59, 59, 59);
    height: 400px;
}

aside section:nth-child(1) {
    background-color: rgb(42, 44, 44);
}